@using System.Web.Optimization
@using Budget.WebApp.Utils
@using Budget.Resources
@model System.Collections.Generic.IEnumerable<Budget.ObjectModel.Product>

@section styles {
    @Styles.Render("~/bundles/content/jqueryui")
}

@section scripts {
    @RequireJs.Require("app/products")
}

<script id="product-list" type="text/template">
    <div class="entry">
        <div>{{ Id }}</div>
        <div>{{ Name }}</div>
        <div class="delete">DELETE {{ Name }}</div>
        <div class="update">UPDATE {{ Name }}</div>
    </div>
</script>

<div id="product-list-container">
    <button id="add">@Text.AddNewProduct</button>
</div>