@using System.Web.Optimization
@using Budget.WebApp.Utils
@using Budget.Resources
@model System.Collections.Generic.IEnumerable<Budget.ObjectModel.Product>

@section styles {
    @Styles.Render("~/bundles/content/jqueryui")
}

@section scripts {
    @RequireJs.Require("app/products")
}

<script id="product-list" type="text/template">
    <div class="entry">
        <span>{{ Name }}</span>
        <div class="right material-icons icon delete"></div>
        <div class="right material-icons icon update"></div>
    </div>
</script>

<div class="block-contaniner">
    <div class="group">
        <div class="group-legend align-center space-between">
            @Text.Products
            <div id="add-product" class="right material-icons icon add"></div>
        </div>
        <div class="group-content" id="product-list-container">

        </div>
    </div>
</div>