@using System.Web.Optimization
@using Budget.WebApp.Utils
@using Budget.Resources
@model System.Collections.Generic.IEnumerable<Budget.ObjectModel.Product>

@Styles.Render("~/bundles/content/jqueryui")
@RequireJs.Require("app/products")


<script id="product-list" type="text/template">
    <div class="entry">
        <span>{{ Name }}</span>
        <div class="right material-icons icon delete"></div>
        <div class="right material-icons icon update"></div>
    </div>
</script>

<div class="panel panel-primary">
    <div class="panel-heading">
        @Text.Products
        <div id="add-product" class="pull-right material-icons icon add"></div>
    </div>
    <div class="panel-body" id="product-list-container">

    </div>
</div>