:root {
    --color1: #008b8b;
    --color2: #364781;
    --color3: #175662;
    --color-btn-hover: #3CAAAA;
    --color-body: #EBEBEC;
    --color-body-contrast: white;
}

body {
	background-color: var(--color-body);
	font-family: "Trebuchet MS" !important;
    font-size: 16px;
}

.login-form {
	padding: 10px;
    margin: 10px;
	box-shadow: 0px 0px 10px #414146;
	background-color: white;
}

.login-form h2 {
    padding-bottom: 1.5em;
    text-align: center;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.center-all {
    display: flex;
    align-items: center;
    justify-content: center
}

.navbar {
    position: relative;
    background-color: var(--color3);
    padding: .75em;
    margin-bottom: .5em;
    overflow: hidden;
    color: white;
}

.loading {
    background-image: url(/Content/gif/loading.gif);
    background-repeat: no-repeat;
    background-position: center center;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.loader {
    display: inline-block;
    border: .25em solid silver;
    border-top: .25em solid white;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
    margin-right: 0.5em;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.justify-center {
    display: flex;
    justify-content: center;
}

.align-center {
    display: flex;
	align-items: center;
}

.horizontal {
    display: flex;
    flex-flow: wrap row;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.grow {
    display: flex;
    flex-grow: 1;
}

.field-validation-error, label.error {
    color: red;
    font-size: 0.75em;
}

.field-validation-valid {
    display: none;
}

.input-validation-error, input.error {
    border: 1px solid red;
    background-color: #fee;
}

input.input-validation-error:focus, input.error:focus {
    box-shadow: 0px 0px 5px #fee;
}

.validation-summary-errors { 
    color: #f00;
    margin-bottom: 0;
    margin-top: 20px;
}

.validation-summary-errors ul {
    list-style: none;
    -webkit-padding-start: 0em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.validation-summary-valid {
    display: none;
}

.icon {
    cursor: pointer;
}

.add::before {
    content: "add";
}

.update::before {
    content: "mode_edit";
    color: #808080;
}

.icon.delete {
    color: red;
}

.delete::before {
    content: "close";
}

.block-contaniner {
    float: left;
    max-width: 40em;
    min-width: 20em;
    max-height: 50%;
    overflow: auto;
}

.entry {
    padding: 3px;
}

.right {
    float: right;
}

.group {
    border: 1.2px solid var(--color2);
    background-color: var(--color-body-contrast);
}

.group .group-legend {
    background-color: var(--color2);
    padding: 5px;
    color: white;
    font-weight: bold;
}

.group .group-content {
    padding: 5px;
}

#menu-container {
    position: relative;
}

#menu {
    min-width: 170px;
    list-style-type: none;
    position: absolute;
    background-color: white;
    display: none;
    right: 0;
    top: -0.5em;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#menu li {
    padding: 5px;
}

.show {
    display: block !important;
}