:root {
    --color1: #008b8b;
    --color2: #364781;
    --color3: #175662;
}

body {
	background-color: white;
	font-family: "Trebuchet MS" !important;
    font-size: 16px;
    margin: 0;
}

input, select, textarea, button, legend {
    font-family: inherit;
    font-size: .875em;
}

.ui-widget *:not(.material-icons) {
    font-family: "Trebuchet MS" !important;
}

input, select {
    width: 100%;
    height: 1.75em;
	border: solid;
	border-width: 1px;
	padding: 3px;
	border-color: var(--color1);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input:focus, select:focus {
	box-shadow: 0px 0px 5px var(--color1);
    outline: none;
}

button {
	padding: 5px;
	border-width: 0px;
	background-color: var(--color1);
	color: white;
	font-weight: bold;
	outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
}

form * {
	margin-top: 2px;
}

.margin-zero {
    margin: 0px;
}

h2.login-title {
    color: var(--color1);
    padding-bottom: 3em;
    text-align: center;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.login-form {
    margin-top: 10px;
	padding: 10px;
	box-shadow: 0px 0px 10px var(--color3);
	background-color: white;
}

form, form div {
    display: flex;
    flex-flow: wrap column;
}

.body-content {
    margin: 8px;
}

.navbar {
    background-color: var(--color3);
    padding: .75em;
    margin-bottom: .5em;
    overflow: hidden;
    color: white;
}

.loading {
    background-image: url(/Content/gif/loading.gif);
    background-repeat: no-repeat;
    background-position: center center;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.loader {
    display: inline-block;
    border: .25em solid silver;
    border-top: .25em solid white;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
    margin-right: 0.5em;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.justify-center {
    display: flex;
    justify-content: center;
}

.align-center {
    display: flex;
	align-items: center;
}

.vertical {
    display: flex;
    flex-flow: wrap column;
}

.horizontal {
    display: flex;
    flex-flow: wrap row;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.grow {
    display: flex;
    flex-grow: 1;
}

.field-validation-error, label.error {
    color: red;
    font-size: 0.75em;
}

.field-validation-valid {
    display: none;
}

.input-validation-error, input.error {
    border: 1px solid red;
    background-color: #fee;
}

input.input-validation-error:focus, input.error:focus {
    box-shadow: 0px 0px 5px #fee;
}

.validation-summary-errors { 
    font-weight: bold; 
    color: #f00;
}

.validation-summary-errors ul {
    list-style: none;
    -webkit-padding-start: 0em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.validation-summary-valid {
    display: none;
}

.icon {
    cursor: pointer;
}

.add::before {
    content: "add";
}

.update::before {
    content: "mode_edit";
    color: #808080;
}

.icon.delete {
    color: red;
}

.delete::before {
    content: "close";
}

.block-contaniner {
    float: left;
    max-width: 40em;
    min-width: 20em;
    max-height: 50%;
    overflow: auto;
}

.entry {
    padding: 3px;
}

.right {
    float: right;
}

.group {
    border: 1.2px solid var(--color2);
}

.group .group-legend {
    background-color: var(--color2);
    padding: 5px;
    color: white;
    font-weight: bold;
}

.group .group-content {
    padding: 5px;
}