body {
	background-color: rgb(231, 231, 231);
	font-family: "Trebuchet MS" !important;
}

.ui-widget * {
    font-family: "Trebuchet MS" !important;
}

input, select {
	border: solid;
	border-width: 1px;
	padding: 3px;
	border-color: darkcyan;
}

input:focus, select:focus {
	box-shadow: 0px 0px 5px darkcyan;
    outline: none;
}

button {
	padding: 5px;
	border: solid;
	border-width: 0px;
	background-color: darkcyan;
	color: white;
	font-weight: bold;
	outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
}

button:hover {
	background-color: lightblue;
}

form * {
	margin-top: 2px;
}

h2.login-title {
    color: darkcyan;
    padding-bottom: 3em;
    text-align: center;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.login-form {
	padding: 10px;
	box-shadow: 0px 0px 5px darkcyan;
	background-color: white;
}

form, form div {
    display: flex;
    flex-flow: wrap column;
}

.loading {
    background-image: url(/Content/gif/loading.gif);
    background-repeat: no-repeat;
    background-position: center center;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.align-center {
    display: flex;
	align-items: center;
}

.vertical {
    display: flex;
    flex-flow: wrap column;
}

.vertical-center-items {
    align-items: center;
}

.horizontal {
    display: flex;
    flex-flow: wrap row;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.grow {
    display: flex;
    flex-grow: 1;
}

.field-validation-error, label.error {
    color: red;
    font-size: 0.75em;
}

.field-validation-valid {
    display: none;
}

.input-validation-error, input.error {
    border: 1px solid red;
    background-color: #fee;
}

input.input-validation-error:focus, input.error:focus {
    box-shadow: 0px 0px 5px #fee;
}

.validation-summary-errors { 
    font-weight: bold; 
    color: #f00;
}

.validation-summary-errors ul {
    list-style: none;
    -webkit-padding-start: 0em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.validation-summary-valid {
    display: none;
}

.delete-icon {
    height: 16px;
    width: 16px;
    margin-left: 1em;
    cursor: pointer;
    background-image: url("../lib/images/ui-icons_cc0000_256x240.png");
}