@using System.Web.Optimization
@using Budget.WebApp.Utils
@model Budget.WebApp.Models.OverviewModel

@section styles{
    @Styles.Render("~/bundles/content/overview")
}

@section scripts {
    @RequireJs.Require("app/overview")
}

<div id="add-receipt" hidden="hidden">
    @Html.Partial(MVC.Overview.Views.ViewNames.SaveReceipt, Model)
</div>

<div id="calendar">

</div>