@using System.Web.Optimization

@section styles{
    @Styles.Render("~/bundles/content/overview")
}

@section scripts {
    @Scripts.Render("~/bundles/scripts/overview")
}

<div id="add-receipt" hidden="hidden">

</div>

<div id="calendar">

</div>