@model Budget.WebApp.Models.SaveReceiptModel
@using Budget.Resources;

<form>
    @Html.EditorForModel()
    @Html.Partial(MVC.Overview.Views.SaveReceiptEntryModelTemplate)
    <span>
        <button type="button">@Text.New</button>
    </span>
</form>