@using Budget.Resources;

<script type="text/template" id="entry-template">
    <div class="js-entry vertical">
        <input type="hidden" name="Entries.Index" value="{{ index }}" />

        <label for="Entries[{{ index }}].Amount">@Text.Amount</label>

        <div class="horizontal">
            <div class="vertical grow">
                <input class="js-required" name="Entries[{{ index }}].Amount" type="number" step="0.01" />
            </div>
            <div class="delete-icon">x</div>
        </div>
    </div>
</script>