@model Budget.WebApp.Models.OverviewModel
@using Budget.Resources;

<form>
    @Html.Partial(MVC.Overview.Views.ViewNames.SaveReceiptHeader, Model.SaveReceipt)
    @Html.Partial(MVC.Overview.Views.SaveReceiptEntryModelTemplate, Model.Products)
    <span>
        <button id="next-receipt-entry" type="button">@Text.New</button>
    </span>
</form>