@using Budget.Resources;
@using Budget.ObjectModel;
@model Budget.WebApp.Models.ProductsDataListModel

<script type="text/template" id="entry-template">
    <div class="js-entry horizontal space-between" style="margin-top: 5px">
        <input type="hidden" name="Entries.Index" value="{{ index }}" />

        <div class="vertical" style="width: 43%">
            <label for="Entries[{{ index }}].Amount">@Text.Amount</label>
            <input class="js-required" name="Entries[{{ index }}].Amount" type="text" />
        </div>
        <div class="vertical" style="width: 55%">
            <div class="horizontal space-between margin-zero">
                <label for="Entries[{{ index }}].Product">@Text.Product</label>
                <div class="icon delete"></div>
            </div>

            <select class="js-required" name="Entries[{{ index }}].ProductId">
                @foreach (Product product in Model.Products)
                {
                    <option value="@product.Id">@product.Name</option>
                }
            </select>
        </div>
    </div>
</script>